Dear tutor, there is something wrong with my IDE. I can change the file locally but cannot save my solution.
I also tried to upload my code to my personal Github repository but still cannot save the local change.
Although I could save the result of my spark code.

So I will put my code in this file. If you copy them to the original "hw07.ipynb" file and run, it should be fine.
All of the solution could get the right result.
Thanks so much. I am so sorry for this problem.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# when run locally, spark has one (master) node with its own jvm and no cluster manager is created
spark = SparkSession.builder.master("local").appName("Homework 07").getOrCreate()

spark

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/05/30 17:56:37 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/05/30 17:56:38 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

## Define Helper Function

In [2]:
# load table from TPCxx-BB dataset. Returning a dataframe read from parquet format
get_table = lambda table: spark.read.option("header", "true").parquet(
    f"TPCx-BB-dataset/{table}.ptxt"
)

## Query 07
List top 10 states in descending order with at least 10 customers who during a given month bought products with the price tag at least 20% higher than the average price of products in the same category.

In [3]:
# implementation

item = get_table("item")

# Define high price ratio
q07_HIGHER_PRICE_RATIO = 1.2

# Calculate the average price for each category and calculate the high price threshold
category_avg_price = item.groupBy("i_category").agg(
    (avg("i_current_price") * q07_HIGHER_PRICE_RATIO).alias("avg_price")
)

# Rename columns to avoid column name conflicts when joining
item = item.withColumnRenamed("i_category", "item_category")
item = item.withColumnRenamed("i_current_price", "item_price")

# Connect DataFrame and filter out high-priced items
high_price_items = (item.join(category_avg_price, item.item_category == category_avg_price.i_category)
    .filter(item.item_price > category_avg_price.avg_price)
    .select(item.i_item_sk)
)

customer_address = get_table("customer_address")
customer = get_table("customer")
store_sales = get_table("store_sales")
date_dim = get_table("date_dim")

q07_YEAR = 2004
q07_MONTH = 7
q07_HAVING_COUNT_GE = 10
q07_LIMIT = 10

# Extract all dates of a specific month from date_dim
selected_dates = date_dim.filter(
    (date_dim.d_year == q07_YEAR) & (date_dim.d_moy == q07_MONTH)
).select("d_date_sk").rdd.map(lambda row: row[0]).collect()

query7_solution = (customer_address
    .join(customer, customer_address.ca_address_sk == customer.c_current_addr_sk)
    .join(store_sales, customer.c_customer_sk == store_sales.ss_customer_sk)
    .join(high_price_items, store_sales.ss_item_sk == high_price_items.i_item_sk)
    .filter(store_sales.ss_sold_date_sk.isin(selected_dates))
    .filter(customer_address.ca_state.isNotNull())
    .groupBy(customer_address.ca_state)
    .agg(count("*").alias("cnt"))
    .filter(col("cnt") >= q07_HAVING_COUNT_GE)
    .orderBy(col("cnt"), ascending=False)
    .limit(q07_LIMIT)
)

query7_solution.show()

+--------+---+
|ca_state|cnt|
+--------+---+
|      TX|396|
|      GA|247|
|      VA|233|
|      IL|205|
|      KY|176|
|      KS|170|
|      NC|164|
|      IA|163|
|      MO|156|
|      AL|139|
+--------+---+

In [4]:
# check the result
!cat queries/q07/results/q07-result

TX,396
GA,247
VA,233
IL,205
KY,176
KS,170
NC,164
IA,163
MO,156
AL,139

## Modify the dataframe resulted from query 07:

### 2(a) 
Add a column named ”hw07_id” and insert your own student id number (written in your USI badge e.g. 12-345-678) only in the record row where the state is Georgia. Print your result.

In [5]:
modified_a = query7_solution.withColumn(
    "hw07_id", 
    when(col("ca_state") == "GA", "22-981-591").otherwise(None)
)
modified_a.show()

+--------+---+----------+
|ca_state|cnt|   hw07_id|
+--------+---+----------+
|      TX|396|      NULL|
|      GA|247|22-981-591|
|      VA|233|      NULL|
|      IL|205|      NULL|
|      KY|176|      NULL|
|      KS|170|      NULL|
|      NC|164|      NULL|
|      IA|163|      NULL|
|      MO|156|      NULL|
|      AL|139|      NULL|
+--------+---+----------+

### 2(b)
Add another column named ”hw07_surname” and insert your surname only where the count aggregate field attribute is greater than 200. Print your result.

In [7]:
modified_b = modified_a.withColumn(
    "hw07_surname",
    when(col("cnt") > 200, "Feng").otherwise(None)
)
modified_b.show()

+--------+---+----------+------------+
|ca_state|cnt|   hw07_id|hw07_surname|
+--------+---+----------+------------+
|      TX|396|      NULL|        Feng|
|      GA|247|22-981-591|        Feng|
|      VA|233|      NULL|        Feng|
|      IL|205|      NULL|        Feng|
|      KY|176|      NULL|        NULL|
|      KS|170|      NULL|        NULL|
|      NC|164|      NULL|        NULL|
|      IA|163|      NULL|        NULL|
|      MO|156|      NULL|        NULL|
|      AL|139|      NULL|        NULL|
+--------+---+----------+------------+

### 2(c)
Remove records containing null missing value in the ”hw07_surname” column. Print your result.

In [8]:
modified_c = modified_b.filter(col("hw07_surname").isNotNull())
modified_c.show()

+--------+---+----------+------------+
|ca_state|cnt|   hw07_id|hw07_surname|
+--------+---+----------+------------+
|      TX|396|      NULL|        Feng|
|      GA|247|22-981-591|        Feng|
|      VA|233|      NULL|        Feng|
|      IL|205|      NULL|        Feng|
+--------+---+----------+------------+

### 2(d)
Replace the null missing values with the string ”-”. Print your result.

In [9]:
modified_d = modified_b.na.fill({"hw07_surname": "-"})
modified_d.show()

+--------+---+----------+------------+
|ca_state|cnt|   hw07_id|hw07_surname|
+--------+---+----------+------------+
|      TX|396|      NULL|        Feng|
|      GA|247|22-981-591|        Feng|
|      VA|233|      NULL|        Feng|
|      IL|205|      NULL|        Feng|
|      KY|176|      NULL|           -|
|      KS|170|      NULL|           -|
|      NC|164|      NULL|           -|
|      IA|163|      NULL|           -|
|      MO|156|      NULL|           -|
|      AL|139|      NULL|           -|
+--------+---+----------+------------+